* {
  margin: 0;
  padding: 0;
  font-style: italic;
  flex-wrap: wrap;
}

body {
  background-image: url('/fotoDeFundo.jpg');
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 100px;
}

.trybewarts-login {
  display: flex;
  margin: 50px;
  height: 20px;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  color: rgb(212, 212, 212);
  display: flex;
  width: 675px;
  flex-direction: column;
  justify-content: space-between;
}

#solucao {
  display: flex;
}

#input-lastname {
  flex-grow: 1;
}

#trybewarts-forms-logo {
  height: 500px;
}

aside {
  display: flex;
  justify-content: right;
}

#solucao2 {
  display: flex;
}

#input-email {
  flex-grow: 1;
}

#solucao3 {
  display: flex; /* height: 100px; */
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

#solucao4 {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.subject {
  margin-left: 3px;
}

#avaliacao-container {
  display: flex;
  flex-direction: column;
}

#rate-container {
  display: flex;
  justify-content: space-between;
}

.rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#infos-container {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

#contador-container {
  display: flex;
}
